{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}PASSWORD CHANGE PAGE{% endblock title %}
{% block content %}
<div class="container-fluid action-page d-flex flex-column align-items-center">
    <i class="feed-smileys fa-solid fa-key"></i>
    <h2>MISE A JOUR MOT DE PASSE</h2>
    <div class="action-encart" data-encart="password_change">
        <span class="encart-icon"><i class="fa-solid fa-key"></i></span>
        <p class="encart-text"></p>
    </div>
    <div class="action-card">
        <form class="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">METTRE A JOUR</button>
        </form>
        <div class="action-actions">
            <a class="btn btn-primary" href="{% url 'home' %}">RETOUR ACCUEIL</a>
        </div>
    </div>
</div>
{% endblock content %}
