{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block title %}PASSWORD CHANGE PAGE{% endblock title %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
  {% md_icon "form-textbox-password" size="1.5rem" %}
  <h2>DEMANDER MISE A JOUR MOT DE PASSE</h2>
  <form class="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">METTRE A JOUR</button>
  </form>
  <a class="btn btn-primary" href="{% url 'home' %}">RETOUR ACCUEIL</a>
</div>
{% endblock content %}
