{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block title %}PASSWORD CHANGE PAGE{% endblock title %}

{% block content %}
<div class="container-fluid password-reset-container d-flex flex-column align-items-center justify-content-center">
  {% md_icon "swap-horizontal" size="1.5rem" %}
  <h2>MOST DE PASSE OUBLIE</h2>
  <p>Veuillez indiquer l'email utilisé lors de l'inscription.</p>
  <p>Si vous avez oublié l'email utilisé, <a href="{% url 'contact_admin' %}">contacter un admin</a></p>
  <form class="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">DEMANDER RE-INITIALISATION DU MOT DE PASSE</button>
  </form>
  <div class="login_options mt-2 mb-5 d-flex flex-column justify-content-around align-items-center">
    <a class="btn btn-primary" href="{% url 'home' %}">RETOUR ACCUEIL</a>
  </div>
</div>
{% endblock content %}
