{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}PASSWORD RESET PAGE{% endblock title %}
{% block content %}
<div class="container-fluid action-page d-flex flex-column align-items-center">
    <i class="feed-smileys fa-solid fa-envelope"></i>
    <h2>MOT DE PASSE OUBLIE</h2>
    <div class="action-encart" data-encart="password_reset">
        <span class="encart-icon"><i class="fa-solid fa-envelope"></i></span>
        <p class="encart-text"></p>
    </div>
    <div class="action-card">
        <p>Veuillez indiquer l'email utilisé lors de l'inscription.</p>
        <p>Si vous avez oublié l'email utilisé, <a href="{% url 'contact_admin' %}">contacter un admin</a></p>
        <form class="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">DEMANDER RE-INITIALISATION DU MOT DE PASSE</button>
        </form>
        <div class="action-actions">
            <a class="btn btn-primary" href="{% url 'home' %}">RETOUR ACCUEIL</a>
        </div>
    </div>
</div>
{% endblock content %}
