* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'ArsenalSC';
  src: url('../fonts/ArsenalSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('../fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat-large';
  src: url('../fonts/Caveat-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Django message */
.django-messages li {
  list-style: none;
}

.django-messages .success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
}

.django-messages .error {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
}

.django-messages .warning {
    color: orange;
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 5px;
}

.django-messages .info {
    color: blue;
    background-color: #d1ecf1;
    padding: 10px;
    border-radius: 5px;
}

/* End Django messages */

body {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0) 100%), url("../../vendors/img/les_petits_meurtres_saison_2_sans_titre.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

body a,
body button,
body .dropdown-item {
  color: white;
}

.sticky-top {
  background-color: black;
}

.navbar-blur .navbar {
  backdrop-filter: blur(10px);
}

.navbar-nav {
  width: 100%;
  margin-left: auto;
  z-index: 10;
}

.navbar-nav .dropdown-menu {
  background-color: transparent;
}

.navbar-custom {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-collapse {
  transition: opacity 0.3s ease;
}

.navbar-collapse.show {
  opacity: 1;
}

.navbar-collapse.collapsing {
  opacity: 0;
}

.navbar-toggler {
  color: pink;
  position: absolute;
  top: 10px;
  right: 2%;
  padding: 1% 1%;
  margin-right: 6%;
}

.navbar-brand {
  font-family: "Caveat-large", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: white !important;
}

.nav-link {
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover,
.nav-link a:active{
  color: blue;
}

.image_profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-menu {
  border: 1px dashed pink;
}

.dropdown-header {
  display: flex;
  justify-content: center;
  color: pink;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-dropdown {
  border-top: 1px solid white;
  margin-top: 2%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ArsenalSC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

section {
  border-bottom: 1px dashed pink;
}

.login-container .btn {
  width: 100%;
  background-color: #00000042;
  border: 1px solid pink;
}

.feed-container {
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  margin: 0% 0% 0% 0%;
  padding: 2% 0%;
  width: 100%;
}

.feed-container-footer {
  width: 100%;
  margin-bottom: 5%;
}

.feed-item {
  background-color: #00000054;
}

.feed-item-elements {
  display: flex;
  flex-direction: row;
}

.feed-item-detail {
  margin-left: 5%;
}

.feed-intro {
  padding: 5% 10%;
  font-size: 1.5rem;
  font-family: "Caveat-large", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.feed-intro h3 {
  font-family: "Caveat-large", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.feed-smileys {
  font-size: 1.5rem;
}

.photo_miniature {
  width: 100%%;
  height: auto;
  border-radius:
}

.home-elements {
  color: white;
}

.home-elements h2 {
  font-size: 2rem;
}

.home-elements-head {
  margin-top: 5%;
  margin-left: 5%;
}

.home-elements-sub {
  margin: 2% 0% 10% 50%;
}

.home-elements-sub img {
  width: 2%;
}

.home-elements-sub btn{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #221c1c8c;
  border: 1px dashed white;
}

.home-head-elements {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 5%;
}

.photos-container {
  display: flex;
  flex-direction: column;
}

.photo-contaner {
  width: 80%;
  height: auto;
}

.bg-dark {
  background-color: rgba(33, 37, 41, 0.6) !important;
}

footer {
  bottom: 0;
  position: fixed;
  color: white;
  background-color: black;
}

@media (max-width: 576px) {
  .home-elements-sub {
    margin: 2% 0% 15% 50%;
  }

  .feed-container {
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    margin-bottom: 10%
  }

  .feed-item-elements {
    display: flex;
    flex-direction: column;
  }

  .photos-container {
    display: flex;
    flex-direction: row;
  }
}
