{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}FOLLOW USER PAGE{% endblock title %}
{% block content %}
<div class="container-fluid action-page d-flex flex-column align-items-center">
  <i class="feed-smileys fa-solid fa-users"></i>
  <h2>SUIVRE UN/DES UTILISATEUR(S)</h2>
  <div class="action-encart" data-encart="follow">
      <span class="encart-icon"><i class="fa-solid fa-user-plus"></i></span>
      <p class="encart-text"></p>
  </div>
  <div class="action-card w-50">
      <form class="form w-100 d-flex flex-column" action="" method="post">
        {% csrf_token %}
        <select name="follows" required id="id_follows" multiple>
          {% for to_follow in form.follows %}
            {{ to_follow }}
          {% endfor %}
        </select>
        <div class="button_container d-flex justify-content-start">
          <button type="submit" class="btn btn-primary">METTRE A JOUR</button>
        </div>
      </form>
      <div class="action-actions">
        <a class="btn btn-primary" href="{% url 'feed' %}">RETOUR ACCUEIL</a>
      </div>
  </div>
</div>
{% endblock content %}
