{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}HOME PAGE{% endblock title %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="w-90 home-elements d-flex flex-column">
        <div class="w-75 home-elements-head">
            <h2>LES PETITS MEURTRES D'AGATHA CHRISTIE SAISON 2</h2>
            <p>
              Dans l’ambiance glamour et vintage des années 1950-1960, retrouvez trois héros de charme réunis dans un cocktail unique et décalé mariant
              polar et comédie avec Blandine Bellavoir dans le rôle d’Alice Avril, l’intrépide, curieuse et fonceuse reporter de La Voix du Nord,
              Elodie Frenck dans le rôle de la délicieuse Marlène Leroy, la secrétaire dévouée, douce et naïve du Commissaire Laurence et Samuel Labarthe
              dans le rôle de Swan Laurence, l’intelligent, calculateur et élégant commissaire.
            </p>
            <p>2013-2020 27 épisodes</p>
            <div class="home-comedie-row">
                <a href="{% url 'home' %}">COMEDIE</a>
                <button type="button" class="btn btn-primary navbar-cta-button home-signin-button">
                    <a href="{% url 'signin' %}">INSCRIVEZ VOUS POUR PARTICIPER AU BLOG</a>
                </button>
                <img class="home-comedie-footer-image" src="{% static 'vendors/img/les_petits_meurtres_la_fin.png' %}" alt="footer image">
            </div>
        </div>
        <div class="home-elements-middle">
            <span class="detective-magnifier">{% bs_icon 'search' %}</span>
            <blockquote>
                <p><em>« Louison et Baptiste, deux orphelins en cavale, assistent au meurtre du père Noël sur le marché ! La petite se réfugie chez un commissaire allergique aux enfants, tandis qu'Alice retourne à l'orphelinat de son enfance. Un Noël noir, tendre et délicieusement décalé ! »</em></p>
            </blockquote>
            <cite>— Hortense Papillon, critique télé pour <strong>Le Cri du Père Noël</strong></cite>
        </div>
    </div>
</div>
{% endblock content %}
