{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block title %}PHOTO ADD PAGE{% endblock title %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center">
  {% md_icon "publish" size="1.5rem" %}
  <h2>AJOUTER PLUSIEURS PHOTOS</h2>
  <form class="form d-flex flex-column w-100" action="" method="post" enctype="multipart/form-data">
    {{ formset.management_form }}
    {% csrf_token %}
    {% for form in formset %}
        <label for="{{ form.prefix }}-title_photo">{{ form.title_photo.label }}</label>
        <input type="text" id="{{ form.prefix }}-title_photo" name="{{ form.prefix }}-title_photo" required>
        <label for="{{ form.prefix }}-caption">{{ form.caption.label }}</label>
        <textarea type="text" id="{{ form.prefix }}-caption" name="{{ form.prefix }}-caption" rows="2" required></textarea>
        <input class="pt-3" type="file" name="{{ form.prefix }}-image" accept="image/*" id="{{ form.prefix }}-id_image" required>
        <input type="hidden" name="{{ form.prefix }}-edit_photo" value="True">
    {% endfor %}
    <div class="pt-3 button_container d-flex justify-content-start">
      <button type="submit" class="btn btn-primary">TELEVERSER</button>
    </div>
  </form>
  <div class="mt-2 mb-5 d-flex flex-column justify-content-around align-items-center">
    <a class="btn btn-primary mt-3" href="{% url 'feed' %}">RETOUR ACCUEIL</a>
  </div>
</div>
{% endblock content %}
