{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}UPDATE POST PAGE{% endblock title %}
{% block content %}
<div class="container-fluid action-page d-flex flex-column align-items-center">
    <i class="feed-smileys fa-solid fa-file-pen"></i>
    <h2>METTRE A JOUR BILLET</h2>
    <div class="action-encart" data-encart="post_update">
        <span class="encart-icon"><i class="fa-solid fa-file-pen"></i></span>
        <p class="encart-text"></p>
    </div>
    <div class="action-card">
        <form class="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_post_form.as_p }}
            {{ edit_photo_form.as_p }}
            <div class="button_container d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">METTRE A JOUR</button>
            </div>
        </form>
        <form class="form mt-3" action="" method="post">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-primary">SUPPRIMER BILLET</button>
        </form>
        <div class="action-actions">
            <a class="btn btn-primary" href="{% url 'feed' %}">RETOUR ACCUEIL</a>
        </div>
    </div>
</div>
{% endblock content %}
